html,body{
  margin:0;
  }


body {
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container-fluid {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(0deg, rgb(32, 109, 252), rgb(182, 206, 251) 90%) no-repeat;
}

a {
  color: black;
}

span {
  color: black;
}

.breadcrumb-item {
  color: grey;
}

h2 {
  color: white;
}

.empty {
  font-size: 20px;
  color:#ffffff;
}

.logout {
  margin-left: auto;
}

li{
  border-radius: 4px;
}

.navItem{
  margin-bottom: 10px;
}

.get_started{
  margin-bottom: 70px;
}

.header {
  margin-bottom: 50px;
  color: #FFFFFF;
}

.total {
  background: #fd6044cd;

}
